@include b(FilterItem) {
  background-color: #F9F9F9;
  border-radius: 3px;
  padding: 20px 20px 70px 20px;
  margin: 12px 0;
  &>h2 {
    font-size: 16px;
    font-weight: 600;
  }
  @include e(optionContent) {
    position: relative;
  }
  @include e(add) {
    position: absolute;
    left: 0;
    bottom: -40px;
    color: #000000;
    span {
      font-weight: 600;
    }
  }
}
